* {
    box-sizing: border-box;
}


/*AppHeader*/

.logoHeader {
    height: 150px;
    width: 150px;
    float: left;
}

.contactListHeader {
    float: left;
}

.buttonHeader {
    height: 100px;
    float: left;
}